<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hollow Turtle</title>
    <meta name="description" content="American Bluegrass Band from Warren Rhode Island"/>
    <meta name="author" content="Nicholas Preite" />
    <meta name="keywords" content="Bluegrass Music American" />
    <link rel="stylesheet" href="../stylesheets/stylesheet.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">    
    <style type="text/css">.body { width: auto; }</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel ="icon" type="image/x-icon" href="../images/PosterNoName.png">
  </head>

  <header>
    <img src="../images/logo.png" style="max-width: 60%;">    
    <h1>AMERICAN BLUEGRASS</h1>
  </header>
  
  

  <body style="background-image: url(../images/Campfire.png);">

    <script>
      //Sticking NavBar to top on scroll
      
      $(document).ready(function(){
        var distance = $("#navBar").offset().top;
      $(window).scroll(function(){
        if($(this).scrollTop() >= distance){
          $("#navBar").css({position:'fixed', top: '0px', left:'0px'});          
        }else{
          $("#navBar").css({position:'static'});
        }
      });
      })      
    </script>
    

    <div id="navBar">
      <a href="index.html">
      <div class="navButton">
        HOME
      </div>
      </a>
      <a href="music.html">
      <div class="navButton">
        MUSIC
      </div>
      </a>
      <a href="videos.html">
      <div class="navButton">
        VIDEOS
      </div>
      </a>
      
    </div>
    
    <div id="mainSite">
      <div class="post">
        <div style="width:65%;display: grid;align-items: center;padding: 15px;">
          <p>"Hollow Turtle bucks the trends of folk rock moving into the world of saccharine, overly commercial pop ballads. 
            Old-school style brings new-world grief to light in their careening, tightly wound vocal harmonies. Relentless strumming 
            and plucking from the string section lifts the harrowed singing to great heights. Even the most steadfast bluegrass 
            disparager will find their foot tapping when Hollow Turtle gets to it." 
            <br>
            - Motif Magazine</p>
        </div>
        <div style="width:35%;text-align: center;">
          <img src="../images/PosterNoName.png" style="width:50%">
          
          <h3>Members</h3>
          <ul>
            <li><b>James Cappelletti</b> - <i>Banjo</i></li>
            <li><b>Joseph Cappelletti</b> - <i>Bass</i></li>
            <li><b>Nick Preite</b> - <i>Mandolin</i></li>
            <li><b>Alfie Purcell</b> - <i>Guitar</i></li>
          </ul>
          
        </div>        
      </div>

      <div class="post" style="display: block;">
        <h2>Previous Shows</h2>
        <br>
        <table> 

          <tr style ="font-size: x-large;">
            <th>
              Venue
            </th>
            <th>
              City
            </th>
            <th>
              Date
            </th>
          </tr>

          <tr>
            <td>Galactic Theatre</td>
            <td>Warren, Rhode Island</td>
            <td>February 18, 2023</td>
          </tr>

          <tr>
            <td>Pete's Candy Store</td>
            <td>Brooklyn, New York</td>
            <td>January 28, 2023</td>
          </tr>

          <tr>
            <td>Dusk</td>
            <td>Providence, Rhode Island</td>
            <td>August 14, 2022</td>
          </tr>

          <tr>
            <td>Narragansett Beer</td>
            <td>Providence, Rhode Island</td>
            <td>August 14, 2022</td>
          </tr>

          <tr>
            <td>Bright Box Theater</td>
            <td>Winchester, Virginia</td>
            <td>July 29, 2022</td>
          </tr>

          <tr>
            <td>The Little Theatre</td>
            <td>Rochester, New York</td>
            <td>June 19, 2022</td>
          </tr>

        </table>
      </div>
  


      <br>
      <br>
      <div style="width: 100%; text-align: center;">
        <a href="http://www.facebook.com/HollowTurtle">
        <img src="../images/facebook.png" class="socialIcon"></a>
        <a href="http://www.instagram.com/hollowturtlemusic">
        <img src="../images/insta.png" class="socialIcon"></a>
        <a href="https://www.youtube.com/channel/UCmtYkBABkFYXF4APMBL4zIw">
        <img src="../images/youtube.png" class="socialIcon"></a>
      </div>
    </div>
    
    
  </body>

  <footer>
    <p>
      &copy;Nicholas Preite 2023
    </p>
  </footer>
  
</html>